@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@media (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
a {
  color: #3e3e3e;
}

iframe, img {
  width: 100%;
}

address {
  font-style: normal;
}

.conversion-button {
  font-size: 18px;
  color: #fff;
  padding: 16px 50px;
  background-color: #FFAA3B;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  letter-spacing: 0.025em;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.4s;
  cursor: pointer;
}
@media (max-width: 767px) {
  .conversion-button {
    font-size: 16px;
  }
}
.conversion-button:hover {
  background-color: #F18900;
}
.conversion-button:disabled {
  background-color: #B2B2B2;
}

.general-button {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  border: 1px solid #707070;
  background-color: #fff;
  font-weight: 600;
  transition: color 0.4s, background-color 0.4s;
  display: inline-block;
  letter-spacing: 0.2em;
}
@media (max-width: 767px) {
  .general-button {
    font-size: 18px;
  }
}
.general-button:hover {
  color: #fff;
  background-color: #3e3e3e;
}
.general-button.is-black {
  color: #fff;
  background-color: #3e3e3e;
  border: 1px solid #fff;
}
.general-button.is-black:hover {
  background-color: #fff;
  color: #3e3e3e;
}

.utl-title {
  font-size: 36px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .utl-title {
    font-size: 30px;
  }
}

body {
  color: #3e3e3e;
  font-family: "Montserrat", "遊ゴシック", "Yu Gothic", "遊ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}

.header {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

@media (max-width: 767px) {
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 68px;
    width: 100%;
  }
}

.header__title {
  font-size: 23px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .header__title {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__title {
    display: block;
  }
}

@media (max-width: 767px) {
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    max-width: 80%;
    bottom: 0;
    background-color: #fff;
    z-index: 300;
    transform: translateX(105%);
  }
  .header__nav.is-show {
    transition: transform 0.4s;
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .header__nav-list {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .header__nav-list {
    text-align: center;
    padding-top: 160px;
  }
}

@media (min-width: 768px) {
  .header__nav-item {
    margin: 0 20px;
    height: 83px;
    line-height: 83px;
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .header__nav-item + .header__nav-item {
    margin-top: 36px;
  }
}

.header__nav-link {
  letter-spacing: -0.02em;
  padding-bottom: 5.5px;
  position: relative;
  font-weight: 500;
}
@media (max-width: 767px) {
  .header__nav-link {
    font-size: 18px;
  }
}
.header__nav-link::after {
  content: "";
  height: 1px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #3e3e3e;
  transition: width 0.4s;
}
.header__nav-link:hover::after {
  width: 100%;
}

@media (max-width: 767px) {
  .header__nav-toggle {
    width: 26px;
    height: 20px;
    cursor: pointer;
    position: fixed;
    top: 22px;
    right: 16px;
    z-index: 301;
  }
  .header__nav-toggle.is-show {
    transform: translateX(-290px);
  }
}
@media (max-width: 767px) and (max-width: 350px) {
  .header__nav-toggle.is-show {
    transform: translateX(-255px);
  }
}
@media (max-width: 767px) {
  .header__nav-toggle.is-show .header__nav-bar1, .header__nav-toggle.is-show .header__nav-bar2, .header__nav-toggle.is-show .header__nav-bar3 {
    background-color: #fff;
  }
}
@media (max-width: 767px) {
  .header__nav-toggle.is-show .header__nav-bar1 {
    transform: rotate(45deg) translateY(11.2px);
  }
}
@media (max-width: 767px) {
  .header__nav-toggle.is-show .header__nav-bar3 {
    transform: rotate(-45deg) translateY(-11.2px);
  }
}
@media (max-width: 767px) {
  .header__nav-toggle.is-show .header__nav-bar2 {
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .header__nav-toggle {
    display: none;
  }
}

.header__nav-bar1,
.header__nav-bar2,
.header__nav-bar3 {
  position: absolute;
  display: inline-block;
  width: 26px;
  height: 4px;
  border-radius: 5px;
  background-color: #3e3e3e;
  transition: transform 0.4s;
}

.header__nav-bar1 {
  top: 0;
}

.header__nav-bar2 {
  top: 8px;
}

.header__nav-bar3 {
  top: 16px;
}

@media (max-width: 767px) {
  .header__overlay {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 299;
    background-color: #3e3e3e;
    opacity: 0.7;
  }
  .header__overlay.is-show {
    display: block;
  }
}

@media (min-width: 768px) {
  .main-visual {
    background: url(https://shift915.github.io/daytra_chukyu_kadai/mv2x.png) center center/cover;
    padding: 230px 40px 152px 40px;
    box-sizing: content-box;
  }
}
@media (max-width: 767px) {
  .main-visual {
    background: url(https://github.com/shift915/daytra_chukyu_kadai/image/mv.png) left 22% center/cover;
    padding: 222px 16px 230px 16px;
  }
}

@media (min-width: 768px) {
  .main-visual__inner {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .main-visual__message {
    flex: 0 0 600px;
  }
}

.main-visual__title {
  font-weight: bold;
  letter-spacing: 0.000625em;
}
@media (min-width: 768px) {
  .main-visual__title {
    font-size: 32px;
    line-height: 1.5;
  }
}
@media (max-width: 767px) {
  .main-visual__title {
    font-size: 24px;
    line-height: 1.6667;
  }
}

.main-visual__text {
  font-weight: bold;
}
@media (min-width: 768px) {
  .main-visual__text {
    font-size: 18px;
    line-height: 1.5555;
    margin-top: 26px;
    letter-spacing: 0.025em;
  }
}
@media (max-width: 767px) {
  .main-visual__text {
    font-size: 14px;
    line-height: 1.4285;
    margin-top: 22px;
  }
}

@media (min-width: 768px) {
  .main-visual__button-wrap {
    margin-top: 37px;
  }
}
@media (max-width: 767px) {
  .main-visual__button-wrap {
    margin-top: 25px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main-visual__button {
    padding: 16px 32px;
  }
}

.news {
  background-color: #F3F3F3;
}
@media (min-width: 768px) {
  .news {
    padding: 120px 40px;
  }
}
@media (max-width: 767px) {
  .news {
    padding: 0 16px 20px;
  }
}

.news__inner {
  background-color: #fff;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}
@media (max-width: 767px) {
  .news__inner {
    padding: 44px 0 40px;
    position: relative;
    top: -40px;
  }
}
@media (min-width: 768px) {
  .news__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 64px 60px 41px;
  }
}

.news__title {
  text-align: center;
  padding-bottom: 64px;
  border-bottom: 1px solid #CECDCD;
}
@media (max-width: 767px) {
  .news__title {
    padding-bottom: 43px;
  }
}

.news__item {
  border-bottom: 1px solid #CECDCD;
}
@media (max-width: 767px) {
  .news__item {
    padding: 0 16px;
  }
}

.news__item-link {
  display: inline-block;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .news__item-link {
    padding: 38px 0;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .news__item-link {
    padding: 15px 0 10px;
    flex-wrap: wrap;
  }
}
.news__item-link::after {
  content: "";
  height: 26px;
  width: 14px;
  background: no-repeat url(https://github.com/shift915/daytra_chukyu_kadai/image/news-arrow.png) center center/contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .news__item-link::after {
    right: 14px;
  }
}
@media (max-width: 767px) {
  .news__item-link::after {
    right: 0px;
  }
}
.news__item-link:hover {
  background-color: rgba(73, 115, 255, 0.2);
}
.news__item-link:hover .news__item-title {
  background-color: #fff;
}
.news__item-link .news__item-date {
  font-size: 18px;
  letter-spacing: 0.025em;
  margin-right: 40px;
  flex: 0 0 100px;
}
@media (max-width: 767px) {
  .news__item-link .news__item-date {
    font-size: 14px;
    margin-right: 24px;
    flex: 0 0 78px;
  }
}
.news__item-link .news__item-title {
  border-radius: 50px;
  border: 2px solid #3B69FF;
  letter-spacing: 0.025em;
  text-align: center;
}
@media (min-width: 768px) {
  .news__item-link .news__item-title {
    margin-right: 40px;
    flex: 0 0 121px;
    padding: 7px 0;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .news__item-link .news__item-title {
    font-size: 12px;
    padding: 1px 12px;
  }
}
@media (min-width: 768px) {
  .news__item-link .news__item-text {
    flex: 0 1 100%;
    font-size: 18px;
    line-height: 1.5555;
    margin-right: 86px;
    letter-spacing: 0.03em;
  }
}
@media (max-width: 767px) {
  .news__item-link .news__item-text {
    font-size: 14px;
    line-height: 1.4285;
    margin-top: 11px;
    flex: 0 0 calc(100% - 45px);
  }
}

.news__button-wrap {
  text-align: center;
}

@media (min-width: 768px) {
  .news__button {
    margin-top: 41px;
    padding: 20px 80px;
  }
}
@media (max-width: 767px) {
  .news__button {
    margin-top: 36px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 268px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .service {
    padding: 64px 40px 120px;
    background: linear-gradient(to bottom, #3e3e3e 65%, #F3F3F3 65%);
  }
}
@media (max-width: 767px) {
  .service {
    padding: 44px 15px 60px 15px;
    background: linear-gradient(to bottom, #3e3e3e 48.6666%, #F3F3F3 48.6666%);
  }
}

.service__title {
  text-align: center;
  color: #fff;
}

.service__inner {
  max-width: 960px;
  background-color: #fff;
  padding: 70px 45px 60px 45px;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}
@media (min-width: 768px) {
  .service__inner {
    margin: 64px auto 0;
  }
}
@media (max-width: 767px) {
  .service__inner {
    padding: 50px 16px 35px 16px;
    margin: 44px auto 0;
  }
}

@media (min-width: 768px) {
  .service__list {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .service__item {
    flex: 0 1 230px;
  }
  .service__item + .service__item {
    margin-left: 7.5%;
  }
}
@media (max-width: 767px) {
  .service__item + .service__item {
    margin-top: 44px;
  }
}

.service__item-icon {
  width: 50px;
  height: 42px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.service__item-title {
  margin-top: 18px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.2em;
}
@media (min-width: 768px) {
  .service__item-title {
    line-height: 1.4;
  }
}
@media (max-width: 767px) {
  .service__item-title {
    line-height: 1.2;
    margin-top: 20px;
  }
}

.service__item-text {
  font-size: 14px;
  line-height: 1.7143;
  margin-top: 14px;
}
@media (max-width: 767px) {
  .service__item-text {
    margin-top: 16px;
  }
}

.result {
  background-color: #f3f3f3;
}

.result__inner {
  max-width: calc(50vw + 600px);
  background-color: #3e3e3e;
  padding: 62px 0 62px 58px;
  margin-left: auto;
}
@media (max-width: 767px) {
  .result__inner {
    padding: 42px 0 40px 16px;
  }
}

.swiper-wrap {
  overflow: hidden;
}

.result__title {
  color: #fff;
}
@media (max-width: 767px) {
  .result__title {
    text-align: center;
    font-size: 30px;
    margin-right: 16px;
  }
}

.result__list {
  margin-top: 64px;
}
@media (max-width: 767px) {
  .result__list {
    margin-top: 43px;
  }
}

.result__item-message {
  background-color: #fff;
  padding: 18px 14px 20px 14px;
}
@media (max-width: 767px) {
  .result__item-message {
    padding: 12px 12px 8px 12px;
  }
}

.result__item-title {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .result__item-title {
    font-size: 14px;
    letter-spacing: 0.00075em;
  }
}

.result__item-text {
  margin-top: 12px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .result__item-text {
    font-size: 12px;
    letter-spacing: 0.00083em;
  }
}

.result__pagination {
  position: static !important;
  padding: 42px 0;
  text-align: left;
}
@media (max-width: 767px) {
  .result__pagination {
    padding: 25px 0;
    text-align: center;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: #fff;
  margin: 0 10px;
  position: relative;
}
@media (min-width: 768px) {
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:first-child {
    margin: 0 10px 0 5px;
  }
}
@media (max-width: 767px) {
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:first-child {
    margin: 0 10px 0 0;
  }
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
}

@media (max-width: 767px) {
  .result__button-wrap {
    text-align: center;
    margin-right: 16px;
  }
}

@media (min-width: 768px) {
  .result__button {
    padding: 20px 80px;
  }
}
@media (max-width: 767px) {
  .result__button {
    padding-top: 17px;
    padding-bottom: 17px;
    width: 316px;
    max-width: 100%;
    font-size: 18px;
  }
}

.price {
  padding: 122px 40px 114px;
  background-color: #f3f3f3;
}
@media (max-width: 767px) {
  .price {
    padding: 44px 16px 58px;
  }
}

.price__inner {
  margin: 0 auto;
  max-width: 960px;
}

.price__title {
  text-align: center;
}

.price__table {
  width: 100%;
  margin-top: 64px;
  border-collapse: collapse;
}
@media (max-width: 767px) {
  .price__table {
    margin-top: 44px;
  }
}

.price__table-head,
.price__table-data {
  border: 1px solid #707070;
  font-size: 24px;
  font-weight: bold;
  padding: 17.5px 0;
}
@media (max-width: 767px) {
  .price__table-head,
  .price__table-data {
    padding: 17px 0;
    font-size: 20px;
  }
}

.price__table-head {
  width: 27.2916%;
  background-color: #3e3e3e;
  color: #fff;
}
@media (max-width: 767px) {
  .price__table-head {
    width: 29%;
  }
}

.price__table-data {
  width: 72.7083%;
  padding-left: 36px;
  background-color: #fff;
}
@media (max-width: 767px) {
  .price__table-data {
    padding-left: 18px;
    width: 71%;
  }
}

.price__text {
  margin-top: 13px;
  font-size: 12px;
}
@media (max-width: 767px) {
  .price__text {
    margin-top: 11px;
  }
}

.comments {
  padding-bottom: 112px;
  background-color: #f3f3f3;
  position: relative;
}
@media (max-width: 767px) {
  .comments {
    padding: 0 16px 60px;
  }
}

.comments__inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .comments__inner {
    padding: 6px 0 10px 0;
    display: flex;
    align-items: center;
  }
}

.comments__message {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
@media (min-width: 768px) {
  .comments__message {
    padding: 120px 60px;
    flex: 1 0 55.5%;
  }
}
@media (max-width: 767px) {
  .comments__message {
    padding: 40px 20px 35px;
  }
}

.comments__item {
  margin-top: 63px;
  display: flex;
}
@media (max-width: 767px) {
  .comments__item {
    margin-top: 44px;
  }
  .comments__item + .comments__item {
    margin-top: 36px;
  }
}

@media (min-width: 768px) {
  .comments__item-image {
    height: 100px;
    flex: 0 0 100px;
    margin-right: 32px;
  }
}
@media (max-width: 767px) {
  .comments__item-image {
    height: 60px;
    flex: 0 0 60px;
    margin-right: 20px;
  }
}

.comments__item-text {
  flex: 0 1 100%;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .comments__item-text {
    font-size: 14px;
    line-height: 1.4285;
  }
}

@media (min-width: 768px) {
  .comments__image {
    flex: 0 1 100%;
  }
}
@media (max-width: 767px) {
  .comments__image {
    display: none;
  }
}

.comments__bg {
  position: absolute;
  left: 0;
  top: 153px;
  width: 76.5%;
  bottom: 0;
  background: #3e3e3e;
  z-index: 1;
}
@media (max-width: 767px) {
  .comments__bg {
    width: 100%;
    top: 59px;
  }
}

.qa {
  background: url(https://github.com/shift915/daytra_chukyu_kadai/image/qa-bg.png) center top/cover fixed;
  padding: 64px 40px 120px;
}
@media (max-width: 767px) {
  .qa {
    padding: 44px 16px 60px;
  }
}

.qa__title {
  text-align: center;
}

.qa__inner {
  margin: 64px auto 0;
  max-width: 1200px;
  box-sizing: content-box;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .qa__inner {
    margin: 42px auto 0;
  }
}

.qa__list {
  width: 612px;
}
@media (max-width: 767px) {
  .qa__list {
    margin: 0 auto;
  }
}

.qa__item {
  background-color: #fff;
  padding: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.qa__item + .qa__item {
  margin-top: 32px;
}
@media (max-width: 767px) {
  .qa__item + .qa__item {
    margin-top: 23px;
  }
}

.qa__item-q {
  display: flex;
  align-items: center;
}

.qa__item-q-icon-wrap {
  display: inline-block;
  height: 24px;
  border-radius: 50%;
  background-color: #3B69FF;
  text-align: center;
  margin-right: 16px;
  flex: 0 0 24px;
}

.qa__item-q-icon {
  color: #fff;
  line-height: 24px;
  font-weight: 600;
}

.qa__item-q-text {
  flex: 0 1 100%;
  font-weight: bold;
  letter-spacing: 0.025em;
  line-height: 1.5;
}

.qa__item-q-part-wrap {
  flex: 0 0 15px;
  display: inline-block;
  position: relative;
  height: 15px;
  margin-left: 8px;
}
.qa__item-q-part-wrap.is-open .qa__item-q-part2 {
  transform: translateX(-50%) rotate(90deg);
}

.qa__item-q-part1 {
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: #3B69FF;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.qa__item-q-part2 {
  width: 3px;
  height: 15px;
  background-color: #3B69FF;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  transition: transform 0.4s;
}

.qa__item-a {
  margin-top: 16px;
  background-color: rgba(59, 105, 255, 0.2);
  padding: 12px 16px 10px;
  line-height: 1.5;
  display: none;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .qa__item-a {
    padding: 8px 12px;
  }
}
.qa__item-a.is-open {
  display: block;
}

.qa__item-a-text {
  line-height: 1.5;
}
@media (max-width: 767px) {
  .qa__item-a-text {
    font-size: 14px;
  }
}

.access {
  background-color: #E3E3E3;
  position: relative;
}

.access__inner {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .access__inner {
    padding: 120px 40px 118px 100px;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .access__inner {
    padding: 40px 16px 60px 16px;
  }
}

.access__message {
  color: #fff;
  margin-top: 4px;
}

.access__address {
  margin-top: 60px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .access__address {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .access__address-text {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .access__button-wrap {
    position: absolute;
    left: 100px;
    top: 292px;
    width: 100%;
    max-width: 26.1667%;
    margin-top: 28px;
  }
}
@media (max-width: 767px) {
  .access__button-wrap {
    margin-top: 22px;
    text-align: center;
  }
}

.access__button {
  letter-spacing: 0.1em;
  text-align: center;
  width: 314px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .access__button {
    width: 339px;
    padding-top: 16px;
    padding-bottom: 17px;
  }
}

@media (min-width: 768px) {
  .access__map {
    flex: 0 1 63.68%;
  }
}
@media (max-width: 767px) {
  .access__map {
    margin-top: 16px;
  }
}

.iframe-wrap {
  padding-top: 71.6253%;
  position: relative;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__bg {
  position: absolute;
  top: 0;
  height: 504px;
  left: 0;
  width: 76.5%;
  background-color: #3e3e3e;
  z-index: 1;
}
@media (max-width: 767px) {
  .access__bg {
    width: 100%;
    height: 100%;
  }
}

.contact {
  background: url(https://github.com/shift915/daytra_chukyu_kadai/image/contact-bg.png) center center/cover;
  padding: 60px 16px;
}
@media (max-width: 767px) {
  .contact {
    padding: 40px 16px;
  }
}

.contact__inner {
  max-width: 960px;
  margin: 0 auto;
}

.contact__header {
  background: url(https://github.com/shift915/daytra_chukyu_kadai/image/contact1.png) center center/cover;
  padding: 62px 0;
  color: #fff;
  text-align: center;
  border-radius: 12px 12px 0 0;
}
@media (max-width: 767px) {
  .contact__header {
    padding: 44px 16px 40px;
  }
}

.contact__title {
  font-size: 36px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .contact__title {
    font-size: 30px;
  }
}

.contact__text {
  margin-top: 22px;
}
@media (max-width: 767px) {
  .contact__text {
    margin-top: 12px;
    line-height: 1.4285;
  }
}
@media (max-width: 767px) {
  .contact__text {
    text-align: left;
    font-size: 14px;
  }
}

.contact__body {
  background-color: #fff;
  padding: 60px 120px;
  border-radius: 0 0 12px 12px;
}
@media (max-width: 767px) {
  .contact__body {
    padding: 40px 12px;
  }
}

@media (min-width: 768px) {
  .contact__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .contact__row + .contact__row {
    margin-top: 34px;
  }
}
@media (max-width: 767px) {
  .contact__row + .contact__row {
    margin-top: 31px;
  }
}

.contact__label {
  flex: 0 0 130px;
  font-weight: bold;
}
.contact__input {
  position: relative;
}
@media (min-width: 768px) {
  .contact__input {
    flex: 0 1 73.8888%;
  }
  .contact__input:not(.is-column) {
    margin-left: 7%;
  }
}
@media (max-width: 767px) {
  .contact__input {
    margin-top: 11px;
  }
}

select, input[type=text], input[type=email], textarea {
  font-family: inherit;
  border-radius: 0;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff;
}
@media (max-width: 767px) {
  select, input[type=text], input[type=email], textarea {
    font-size: 14px;
  }
}

select {
  color: #3e3e3e;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: box-shadow 0.4s;
  border: 1px solid #3e3e3e;
  cursor: pointer;
  padding: 10px;
}
@media (min-width: 768px) {
  select {
    width: 178px;
  }
}
@media (max-width: 767px) {
  select {
    width: 100%;
    margin-top: 2px;
  }
}
select:hover, select:focus {
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
  outline: none;
}

.select-wrap {
  position: relative;
  display: inline-block;
}
@media (max-width: 767px) {
  .select-wrap {
    width: 100%;
  }
}
.select-wrap::after {
  position: absolute;
  content: "";
  height: 7px;
  width: 7px;
  border-right: 2px solid #3e3e3e;
  border-bottom: 2px solid #3e3e3e;
  right: 12px;
  top: 50%;
  transform: translateY(-75%) rotate(45deg);
  display: inline-block;
}

input[type=text], input[type=email] {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(62, 62, 62, 0.5);
  padding: 4px 12px;
}
@media (max-width: 767px) {
  input[type=text], input[type=email] {
    padding: 4px 0px;
  }
}

input[type=text]:focus, input[type=text]:hover, input[type=email]:focus, input[type=email]:hover {
  outline: none;
  border-bottom: 1px solid #4973FF;
}
input[type=text]:focus + .under-blur, input[type=text]:hover + .under-blur, input[type=email]:focus + .under-blur, input[type=email]:hover + .under-blur {
  opacity: 1;
}

.under-blur {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 4px rgba(73, 115, 255, 0.5);
  opacity: 0;
  transition: opacity 0.4s;
}

.contact__label-required-wrap {
  display: inline-flex;
  align-items: center;
}

.contact__label-required {
  font-size: 12px;
  color: #fff;
  background-color: #f00;
  border-radius: 2px;
  padding: 2px 8px;
  margin-left: 12px;
  vertical-align: top;
}
@media (max-width: 767px) {
  .contact__label-required {
    margin-left: 20px;
  }
}

.contact__radio-label {
  position: relative;
}
.contact__radio-label + .contact__radio-label {
  margin-left: 34px;
}

.contact__radio-input {
  opacity: 0;
  top: 0;
  left: 0;
  position: relative;
}
.contact__radio-input:checked + .contact__radio-part::after {
  display: block;
}

.contact__radio-part {
  cursor: pointer;
}
.contact__radio-part:hover::before {
  border: 1px solid #3B69FF;
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}
.contact__radio-part:hover:active::before {
  background-color: rgba(73, 115, 255, 0.2);
}
.contact__radio-part::before {
  content: "";
  height: 10px;
  width: 10px;
  border: 1px solid #707070;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: border 0.4s, box-shadow 0.4s;
}
.contact__radio-part::before:hover {
  border: 1px solid #3B69FF;
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}
.contact__radio-part::before:active {
  background-color: rgba(73, 115, 255, 0.2);
  border: 1px solid #3B69FF;
}
.contact__radio-part::after {
  content: "";
  height: 6px;
  width: 6px;
  background-color: #3B69FF;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.contact__column {
  margin-top: 32px;
}

textarea {
  margin-top: 6px;
  min-height: 200px;
  width: 100%;
  transition: border 0.4s, box-shadow 0.4s;
  border: 1px solid #3e3e3e;
  padding: 4px 8px;
}
@media (max-width: 767px) {
  textarea {
    min-height: 160px;
  }
}
textarea:focus, textarea:hover {
  border: 1px solid #4973FF;
  outline: none;
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
}

.contact__privacy {
  margin-top: 38px;
}
@media (max-width: 767px) {
  .contact__privacy {
    margin-top: 28px;
  }
}

.contact__privacy-input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.contact__privacy-input:checked + .contact__privacy-label::after {
  display: block;
}

.contact__privacy-label {
  position: relative;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .contact__privacy-label {
    font-size: 16px;
  }
}
.contact__privacy-label::before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  border: 1px solid #707070;
  cursor: pointer;
  margin-right: 16px;
  transition: box-shadow 0.4s, border 0.4s;
}
.contact__privacy-label::after {
  content: "";
  height: 14px;
  width: 7px;
  border-right: 2px solid #3B69FF;
  border-bottom: 2px solid #3B69FF;
  position: absolute;
  top: 0;
  left: 6px;
  transform: rotate(45deg);
  display: none;
}
.contact__privacy-label:hover::before {
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
  border: solid 1px #3B69FF;
}
.contact__privacy-label:active::before {
  border: solid 1px #3B69FF;
  background-color: rgba(73, 115, 255, 0.2);
}

.contact__submit {
  margin-top: 41px;
}
@media (max-width: 767px) {
  .contact__submit {
    margin-top: 35px;
    text-align: center;
  }
}

.contact__submitted {
  margin-top: 32px;
  display: none;
}
.contact__submitted.is-error {
  color: red;
}

.footer {
  background-color: #3e3e3e;
  color: #fff;
  padding: 60px 40px;
}
.footer a {
  color: #fff;
}

.footer__inner {
  max-width: 960px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer__inner {
    display: flex;
    justify-content: space-between;
  }
}

.footer__sns-list {
  display: flex;
}
@media (max-width: 767px) {
  .footer__sns-list {
    justify-content: center;
  }
}

.footer__sns-item + .footer__sns-item {
  margin-left: 32px;
}
@media (max-width: 767px) {
  .footer__sns-item + .footer__sns-item {
    margin-left: 50px;
  }
}

.footer__sns-icon {
  font-size: 36px;
  opacity: 0.6;
  transition: opacity 0.4s;
}
.footer__sns-icon:hover {
  opacity: 0.3;
}

.footer__nav {
  margin-top: 40px;
}

.footer__nav-item {
  margin-top: 24px;
}
@media (max-width: 767px) {
  .footer__nav-item {
    text-align: center;
  }
}

.footer__nav-link {
  letter-spacing: 0.025em;
  transition: opacity 0.4s;
}
@media (max-width: 767px) {
  .footer__nav-link {
    font-size: 14px;
  }
}
.footer__nav-link:hover {
  opacity: 0.7;
}

.footer__title {
  font-size: 40px;
  color: #E3E3E3;
  font-weight: bold;
}
@media (min-width: 768px) {
  .footer__title {
    margin-top: 6px;
  }
}
@media (max-width: 767px) {
  .footer__title {
    margin-top: 42px;
    text-align: center;
    font-size: 32px;
  }
}

@media (min-width: 768px) {
  .footer__text {
    text-align: right;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .footer__text {
    text-align: center;
    margin-top: 12px;
  }
}

.footer__copy {
  font-size: 12px;
  letter-spacing: 0.025em;
  color: #fff;
  opacity: 0.6;
}

.to-top {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 50;
  display: none;
  transition: opacity 0.4s;
}
.to-top:hover {
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */
